.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.document-actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-left: 20px;
}